/* FRONT images display script */
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

#front {
  display: flex;
  justify-content: center;
  background: linear-gradient( #252E40, #A8B0BF);
  width: 100vw;
  height: 2000px;
  position: relative;
  top: 0;
  margin: 0;
  font-family: 'Rancho', cursive;
  z-index: 2;
  overflow: hidden;
}

#front h2 {
  color: #EAEAEA; 
  z-index: 2;
}

#title {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  text-align: center;
  height: 90vh;
  width: 100vw;
}

#shortdes {
  color: #252E40;
  opacity: 0;
  margin: 0 auto 0 auto;
  text-align: center;
  animation: text 2s ease-in;
  animation-fill-mode: forwards;
  padding: 30px;
  font-size: 2.5em;
  font-family: 'Playball', cursive;
}

/* scroll down button */
#scrollDown {
  animation: scrolldown 2s ease-in infinite;
  animation-delay: 3s;
  opacity: 1;
  font-size: 1.6em;
  border: solid 3px #F8FDFF;
  color: #F8FDFF;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px;
  width: 20%;
  margin: 0 auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#scrollDown:hover {
  background: #F8FDFF;
  color: #E96252;
  animation: scrolldown 2s;
  animation-fill-mode: forwards;
}

#frontImages {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 700px;
  width: 100%;
  top: 1400px;
  filter: grayscale(20%);
  object-fit: cover;
}

#frontImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* main image */
.mainImg {
  width: 100%;
  height: 800px;
  position: fixed;
  top: -1350px;
  transition: all 1s;
}

.face{
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: solid 5px #BFB45C;
  margin-top: 50px;
}

.bottom {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.twof {
 width: 450px;
 height: 450px;
}

.threef {
  width: 400px;
  height: 400px;
}

.fourf {
  width: 350px;
  height: 350px;
}

.fivef {
  width: 300px;
  height: 300px;
  border: dotted 8px #BFB45C;
}

.sixf {
  width: 250px;
  height: 250px;
  background: #BFB45C;
}

/* add animation to the elements */
.face, .twof, .threef, .fourf, .fivef {
  animation: fadeIn 1s ease-out forwards;
  opacity: 0;
}

.eyes {
  width: 90%;
  height: 10px;
  position: relative;
  top: 110px;
  margin-left: auto;
  margin-right: auto;
}

.eye {
  width: 70px;
  height: 5px;
  background: #57594F;
  border-radius: 40%;
}

.lips {
  height: 30px;
  width: 60px;
  background: #E96252;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 130px;
  border-radius: 75px 75px 70px 70px/15px 15px 60px 60px;
}

.cheeks {
  width: 90%;
  height: 50px;
  position: relative;
  top: 120px;
  margin-left: auto;
  margin-right: auto;
}

.cheek{
  width: 70px;
  height: 50px;
  background: #E96252;
  border-radius: 50%;
  opacity: 0.3;
}

.right{
  float: right;
}

.earrings{
  height: 120px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -40px;
}

.earring{
  height: 100%;
  width: 60px;
  background: black;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  border-radius: 30%;
  background: #E96252;
}

.necklace{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  border-radius: 50%;
  border: dotted 26px #E96252;
  position: relative;
  top: -160px;
  z-index: -1;
}

.necklacetwo{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
  position: relative;
  border-radius: 50%;
  border: dotted 20px #E96252;
}

.necklacethree{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  position: relative;
  border-radius: 50%;
  border: dotted 15px #E96252;
}

.necklacethree::after{
  content: " ";
  display: block;
  background: #E96252;
  height: 600px;
  width: 6px;
  position: absolute;
  top: 200px;
}

/* animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes text {
  100% {
    opacity: 1;
  }
}

@keyframes scrolldown {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* iPad screen size adjustments */
@media screen and (max-width: 768px) {
  #scrollDown{
    font-size: 1.2em;
  }
}

/* phone screen size adjustments */
@media screen and (max-width: 480px) {
  #shortdes {
    font-size: 1.8em;
  }

  #scrollDown{
    width: 40%;
  }

  .face{
    width: 400px;
    height: 400px;
  }

  .bottom{
    width: 400px;
  }

  .twof {
    width: 350px;
    height: 350px;
  }

  .threef {
    width: 300px;
    height: 300px;
  }

  .fourf {
    width: 250px;
    height: 250px;
  }

  .fivef {
    width: 200px;
    height: 200px;
  }

  .sixf {
    width: 150px;
    height: 150px;
  }

  .eyes {
    width: 85%;
    top: 60px;
  }

  .eye{
    width: 40px;
  }

  .lips{
    height: 20px;
    width: 40px;
    top: 45px;
  }

  .cheeks {
    top: 60px;
  }

  .cheek{
    width: 50px;
    height: 30px;
  }

  .right{
    float: right;
  }

  .earrings{
    height: 100px;
    width: 45%;
    top: -20px;
  }

  .earring{
    width: 50px;
  }

  .necklace{
    border: dotted 18px #E96252;
  }

  .necklacetwo{
    border: dotted 14px #E96252;
  }
}