@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Miltonian&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cormorant&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Cormorant', serif;
}

body {
    background: #f9f8fd;
    margin: 0;
}

#content{
    height: 100%;
    background: #f9f8fd;
    position: relative;
    z-index: 2;
    top: 0;
}

/* about section */
#about { 
    position: relative; 
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #252E40 0%, #252E40 100%);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    padding-top: 80px;
}

#myImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

#aboutInfo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: left;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background: #f9f8fd;
    padding: 25px;
    color: #4F5259;
    text-align: left;
    outline: 4px solid #252E40;
    outline-offset: 15px;
    font-size: 22px;
    line-height: 1.3em;
}

#aboutInfo b {
    color: #252E40;
}

#aboutInfo span {
    background-color: #252E40;
    color: #f9f8fd;
    border-radius: 10px;
}

/* experience section */
#experience {
    display: flex;
    align-content: center;
    flex-direction: column;
    position: relative; 
    top: 0;
    width: 100%;
    height: 100%;
    background: #f9f8fd;
    margin-top: 30px;
}

.expContent {
    width: 85%;
    height: 100%;
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 5%;
    margin-left: auto;
    padding: 30px;
    border-bottom: dotted 1px #E96252;
    color: #4F5259;
}

.expContent::before {
    content: "";
    background: #E96252;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -12px;
    top: 35px;
}

.year {
    float: left;
    padding: 8px;
    margin: 0;
    height: 100%;
    font-size: 22px;
}

.expDescription {
    padding-left: 50px;
    font-size: 20px;
    margin-left: 150px;
}

.expDescription p {
    margin: 10px;
}

.exp-skills {
    line-height: 2.6em;
}

.expContent span {
    color: #252E40;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 6px;
    border: dotted 2px #252E40;
}

/* education section */
#education {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #252E40 0%, #252E40 100% );
    background-size: 50% 100%;
    background-repeat: no-repeat;
    padding-top: 30px;
    display: flex;
    align-content: center;
    flex-direction: column;
}

#edList{
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #f9f8fd;
    padding: 25px;
    color: #4F5259;
    outline: 4px solid #252E40;
    outline-offset: 15px;
    font-size: 20px;
}

/* skills section */
#skills {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.skillsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: #4F5259;
    font-size: 20px;
}

.skillsGrid h2 {
    grid-column: 1 / 3;
    border-bottom: dotted 1px #E96252;
    font-family: 'Rancho', cursive;
    text-align: center;
}

.skillsGrid p {
    text-align: center;
    margin: 12px;
}

/* project's section */
#projects {
    display: flex;
    align-content: center;
    flex-direction: column;
    position: relative;
    background: linear-gradient(to right, #252E40 0%, #252E40 100%);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    margin-bottom: 50px;
}

#projContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    color: #4F5259;
    width: 70%;
    height: 100%;
    background: #f9f8fd;
}

.proCard {
    width: 100%;
    height: auto;
    border: solid 3px #E96252;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Rancho', cursive;
    font-size: 22px;
}

.proCard p{
    height: auto;
    padding: 20px 0;
    border-top: solid 1px #E96252;
    font-family: 'Cormorant', serif;
}

.frame {
    overflow: hidden;
    transform: scale(1);
    border-radius: 10px;
}

.proImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: all 2s;
    filter: grayscale(80%);
}

.proCard:hover .proImg{
    transform: scale(1.1);
    filter: grayscale(0%);
}

#proButtons {
    width: 100%;
    height: 40px;
    border-top: solid 1px #E96252;
}

#sample, #code {
    width: 50%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #BFB45C;
    font-size: 26px;
    display: inline-block;
    transition: all .35s;
}

#sample{
    float: left;
    border-radius: 0 0 0 10px;
}

#code{
    border-radius: 0 0 10px 0;
}

#sample:hover, #code:hover{
  background: #BFB45C;
  color: #4F5259;
}

mark {
    color: #f9f8fd;
    background: #252E40;
    border-radius: 5px;
}

/* footer */
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background: #252E40;
    border-top: solid 4px #E96252;
    color: #f9f8fd;
    font-family: 'Rancho', cursive;
}

footer p {
    width: auto;
    font-size: 20px;
    float: left;
    margin-left: 20px;
    opacity: 0.8;
}

#socialMedia {
    width: auto;
    float: right;
    position: relative;
    margin-right: 10px;
}

#socialMedia img {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px 15px;
    transition: transform 0.3s ease; 
}

#socialMedia img:hover {
    transform: scale(1.1);
}


/* iPad screen size adjustments */
@media screen and (max-width: 768px) {
    #about, #education, #projects { 
        background-size: 70% 100%;
    }

    #myImg {
        width: 250px;
        height: 250px;
    }
    
    #aboutInfo {
        padding: 25px;
        outline-offset: 15px;
        font-size: 20px;
    }
    
    .expContent {
        display: flex;
        align-content: center;
        flex-direction: column;
    }
    
    .year {
        padding: 10px;
        font-size: 22px;
    }
    
    .expDescription {
        padding-left: 0px;
        font-size: 20px;
        margin-left: 0px;
    }

    .exp-skills {
        line-height: 2.4em;
    }
    
    .expContent span {
        font-size: 1em;
        padding: 5px;
    }

    #edList{
        padding: 20px;
    }

    .skillsGrid {
        padding: 6px;
        font-size: 16px;
    }

    .skillsGrid p {
        margin: 10px;
    }

    #projContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        gap: 5px;
        padding: 20px;
    }

    .proCard {
        width: 80%;
    }

    footer p {
        font-size: 16px;
    }

    #socialMedia img {
        width: 40px;
        height: 40px;
        margin: 10px 13px;
    }
}
  
/* phone screen size adjustments */
@media screen and (max-width: 490px) {
    #myImg {
        width: 200px;
        height: 200px;
    }
    
    #aboutInfo {
        padding: 10px;
        outline-offset: 10px;
        font-size: 16px;
    }

    .year {
        padding: 10px;
        font-size: 16px;
    }
    
    .expDescription {
        padding-left: 0px;
        font-size: 14px;
        margin-left: 0px;
    }

    .exp-skills {
        line-height: 2em;
    }
    
    .expContent span {
        font-size: 0.8em;
        padding: 4px;
    }

    #edList{
        font-size: 14px;
    }

    .skillsGrid {
        width: 70%;
        padding: 5px;
        font-size: 14px;
    }

    .skillsGrid p {
        margin: 8px;
    }

    #socialMedia img {
        width: 40px;
        height: 40px;
        margin: 10px 7px;
    }
}